{
  "printWidth": 80,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "singleQuote": true
}